.page__header {
    display: flex;
    position: fixed;
    animation: header-mount 1s;
    z-index: 2;
    justify-content: space-between;
    align-items: center;
    padding: var(--header-vertical-padding) var(--content-horizontal-padding);
    width: 100%;
    background: white;
}

.header__logo-wrapper {
    cursor: pointer;
    width: 105px;
}

.header__logo {
    min-width: 105px;
    width: 100%;
    height: 100%;
}

/*
    Rightside toolbar styles
*/

.header__toolbar {
    display: flex;
}

.toolbar__notification {
    display: flex;
    align-items: center;
}

.toolbar__avatar-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 32px;
    width: 32px;
    background: #f7991c;
    border-radius: 100%;
}

.toolbar__item {
    cursor: pointer;
}

.toolbar__item-first {
    margin-right: 10px;
}

.notification__icon {
    color: #b8bdd2;
}

.notification__icon:hover {
    color: #9b9b9b;
}

#menu-hamburger {
    cursor: pointer;
    position: absolute;
    margin: 0;
    z-index: 1;
    width: 32px;
    height: 32px;
    opacity: 0;
    outline: none;
}

.avatar__caption {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: white;
    position: absolute;
}

/*
    Dropdown menu styles
*/

.user-profile {
    cursor: auto;
    transition: all 0.5s linear;
    width: 200px;
    opacity: 0;
    background: #fff;
    box-shadow:  0px 4px 18px 2px rgba(0, 0, 0, 0.1);
    padding: 1rem 1rem .5rem 1rem;
    position: absolute;
    right: 0;
    bottom: -360%;
}

.user-profile__actions {
    display: flex;
    flex-direction: column;
}

#menu-hamburger:checked + .user-profile {
    color: black;
    opacity: 1;
}

.user-profile__name-wrapper {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #b8bdd2;
    margin-bottom: 0.5rem;
}

.user-profile__item {
    cursor: pointer;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.user-profile__item:hover  {
    background: rgba(0, 0, 0, 0.02)
}

.user-profile__name {
    margin-bottom: 5px;
    color: #b8bdd2;
}

@media (max-width: 965px) {
    .page__header {
        padding: var(--header-vertical-padding) var(--content-horizontal-padding-shrinked);
    }
}

@keyframes header-mount {
    from { top: -10% }
    to { top: 0 }
}