.page__content {
    display: grid;
    padding: 4rem var(--content-horizontal-padding);
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(9, 1fr);
    grid-template-areas: 
    "bsa bsa js js php php php php php" 
    "bsa bsa js js php php php php php"
    "bsa bsa js js php php php php php"
    "bsa bsa js js net net net events events"
    "qa qa js js net net net events events"
    "qa qa js js net net net blog blog"
    "qa qa java java net net net blog blog"
    "qa qa java java net net net contacts contacts";
}

/*
    bsa card styles
*/

.bsa {
    grid-area: bsa;
}

.bsa__flip-card-front {
    display: flex;
    background: #fff;
    justify-content: center;
    align-items: center;
}

.flip-card__bsa-logo-wrapper {
    width: 50%;
    height: 50%;
}

.flip-card__bsa-logo {
    width: 100%;
    height: 100%;
}

.bsa__flip-card-back {
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bsa__join-button {
    cursor: pointer;
    padding: .5rem 2rem;
    font-size: 18px;
    border-radius: 3px;
    color: #fff;
    background: #00ADEE;
    outline: none;
    border-style: none;
}

.bsa__join-button:hover {
    background: #2e009c;
}

/*
    QA card styles
*/

.qa {
    grid-area: qa;
}

.flip-card {
    width: 100%;
    height: 100%;
    position: relative;
    perspective: 1000px;
}

.flip-card__item {
    position: absolute;
    width: 100%;
    height: 100%;
    transition-duration: .5s;
    backface-visibility: hidden;
}

.qa__flip-card-front {
    font-size: 6vw;
    background: #53b473;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.qa__flip-card-back {
    background: #fff;
    padding: 1.5rem;
    font-size: 24px;
    font-weight: bold;
    overflow: auto;
}

.flip-card__back {
    transform: rotateY(180deg);
}

.flip-card:hover .flip-card__front {
    transform: rotateY(180deg);
}

.flip-card:hover .flip-card__back {
    transform: rotateY(360deg);
}


/*
    JS card styles
*/

.js {
    grid-area: js;
}

.js__flip-card-front {
    font-size: 6vw;
    padding-right: .5rem;
    font-weight: bold;
    background: #f1c96d;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.js__flip-card-back {
    background: #fff;
    overflow: auto;
    padding: 1.5rem;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: bold;
}


/*
    java card styles
*/

.java {
    grid-area: java;
}

.fly-down-card {
    width: 100%;
    height: 100%;
    position: relative;
    overflow-y: hidden;
}

.java__front {
    z-index: 1;
    color: #fff;
    font-size: 3vw;
    font-weight: 500;
    background: #cb2a44;
}

.java__back {
    background: #fff;
    padding: 1.5rem;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: bold;
}

.fly-down-card:hover > .java__front{
    transform: translateY(100%);
}


/*
    .NET card styles
*/

.net {
    grid-area: net;
}

.resize-card {
    position: relative;
    width: 100%;
    height: 100%;
}

.resize-card__front {
    transition-duration: .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6vw;
    z-index: 1;
}

.resize-card__net {
    color: #fff;
    background: #551f65;
    transform-origin: bottom right;
}

.resize-card__back {
    overflow: auto;
    background: #fff;
    padding: 1.5rem;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: bold;
}

.resize-card:hover > .resize-card__front {
    transform: scale(0);
}

/*
    php card styles
*/

.php {
    grid-area: php;
}

.resize-card__php {
    color: #000;
    background: #7f88b3;
    transform-origin: top right;
}


/*
    events card styles
*/

.card {
    position: relative;
}

.events {
    overflow: hidden;
    grid-area: events;
}

.card-item {
    position: absolute;
    width: 100%;
    height: 100%;
}

.events__title {
    background: #358df0;
    color: #fff;
    font-size: 1.3vw;
    font-weight: 500;
}

.card-title {
    z-index: 1;
    transition-duration: .5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-content {
    padding: 1rem;
    overflow-y: auto;
    font-size: 22px;
    background: #fff;
}

.events:hover>.events__title {
    transform: translateX(100%);
}


/*
    blog card styles
*/

.blog {
    grid-area: blog;
    overflow: hidden;
}

.blog__title {
    color: #fff;
    font-size: 1.3vw;
    font-weight: 500;
    background: #0a3a8e;
}

.blog__content {
    height: 100%;
    background: #fff;
}

.blog:hover>.blog__title {
    transform: translateX(100%);
}

/*
    contacts card styles
*/

.contacts {
    position: relative;
    overflow: hidden;
    grid-area: contacts;
}

.contacts__title {
    color: #fff;
    font-size: 1.3vw;
    font-weight: 500;
    background: #062150;
}

.contacts:hover>.contacts__title {
    transform: translateX(100%);
}

.contacts__content {
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.contacts__content-icon-wrapper {
    color: #000;
    cursor: pointer;
    margin: .5rem;
}

.contacts__content-icon {
    font-size: 2.2rem;
}

.contacts__content-icon:hover {
    color: #4659d2;
}

@media (max-width: 965px) {
    .page__content {
        grid-template-areas: 
            "bsa js js events"
            "bsa js js blog"
            "bsa js js contacts"
            "java java php php"
            "qa qa net net";
        grid-template-columns: 5fr 1fr 3fr 3fr;
        grid-template-rows: 1fr 1fr .7fr 1fr 1fr;
        padding: 3rem var(--content-horizontal-padding-shrinked);
    }
    .events__title,
    .blog__title,
    .contacts__title {
        font-size: 1.9vw;
     }
     .flip-card__back,
     .java__back,
     .resize-card__back,
     .card-content {
         font-size: 18px;
     }
}

@media (max-width: 576px) {
    .flip-card__back,
     .java__back,
     .resize-card__back,
     .card-content {
         font-size: 14px;
     }
}
