.notifications-container {
    position: fixed;
    z-index: 1;
    bottom: 1rem;
    right: 1rem;
}

.notification {
    margin-top: 1rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    width: 250px;
    border-radius: 3px;
}

.notification__icon-wrapper {
    margin-right: 1rem;
}

.notifications-container__notification-icon {
    cursor: pointer;
    font-size: 1.6rem;
    color: #fff;
}

.notification__content {
    display: flex;
    flex-direction: column;
}

.notification__header {
    color: #fff;
    font-weight: bold;
}

.notification__body {
    color: #fff;
}

.notifications-container__notification-success {
    background: rgba(30,181,58, 0.8);
}

.notifications-container__notification-error {
    background: rgba(227,28,35, 0.8);
}

.notifications-container__notification-warning {
    background: rgba(236,96,40, 0.8);
}
